extends layout

block content
  .container.text-center
    h1.mt-5 Personal Project Ideas Manager
    p.my-3 This is a simple way to keep your project ideas next to you
    p.my-3
      a(href="/projects", class="btn btn-primary") Get Started
